<section>
  <div class="block remove-top">
  <div class="container">
     <div class="row no-gape">
  <h5>Company Profile</h5>

         <table>
 <tr>
       <br>
      <div class="job-listing wtabs" style="width:300%;" align="center">
        <div class="job-title-sec" >
          <div class="c-logo" style="color:  black;">{{c_name}}</div>
          <br> <h3 style="color: black;">{{c_address}} </h3>
          <h3 style="color:  black;">{{c_contactno}}</h3>
          <h3 style="color:  black;">{{c_emailid}}</h3>
          <h3 style="color:  black;">{{c_websitelink}}</h3>
          <h3 style="color:  black;">{{c_aboutcompany}}</h3>
          <button  (click)="oncancle()">Cancle</button>

         <!-- <a  href="cancle" title="">VIEW PROFILE</a> -->
        </div>

      </div>
     </tr>



