<div class="col-lg-9 column">
  <div class="padding-left">
    <div class="manage-jobs-sec" >
      <h3>Candidates Dashboard</h3>
      <div class="cat-sec" style="padding-left: 20%;">
       <div class="row no-gape" style="border: cornflowerblue;" >
         <div class="col-lg-4 col-md-4 col-sm-12">
           <div class="p-category">
             <a href="#" title="">
               <i class="la la-briefcase"></i>
               <span>Applied Job</span>

             </a>
           </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
           <div class="p-category view-resume-list">
             <a href="#" title="">
               <i class="la la-eye"></i>
               <span>View Resume</span>

             </a>
           </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
           <div class="p-category">
             <a href="#" title="">
               <i class="la la-file-text "></i>
               <span>My Resume</span>

             </a>
           </div>
         </div>
       </div>
     </div>
     <div class="cat-sec" style="padding-left: 20%;">
       <div class="row no-gape">
         <div class="col-lg-4 col-md-4 col-sm-12">
           <div class="p-category">
             <a href="#" title="">
               <i class="la la-check"></i>
               <span>Appropriate For Me</span>

             </a>
           </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
           <div class="p-category follow-companies-popup">
             <a routerLink="companydisplay" title="">
               <i class="la la-user"></i>
               <span>Follow Companies</span>
             </a>
           </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="p-category follow-companies-popup">
            <a href="#" title="">
              <i class="la la-user"></i>
              <span>Shortlisted Job</span>
            </a>
          </div>
        </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
           <div class="p-category">
             <a routerLink="myprofile" title="">
               <i class="la la-file"></i>
               <span>My Profile</span>
             </a>
           </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="p-category">
            <a routerLink="noticedisplay" title="">
              <i class="la la-file"></i>
              <span>Notices</span>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="p-category">
            <a routerLink="materialdisplay" title="">
              <i class="la la-download"></i>
              <span>Download Material</span>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="p-category">
            <a href="eventdisplay" title="">
              <i class="la la-file"></i>
              <span>Events</span>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="p-category">
            <a href="#" title="">
              <i class="la la-user"></i>
              <span>Recently Recruited Students</span>
            </a>
          </div>
        </div>
       </div>
     </div>
    </div>
  </div>
</div>
